<table class="table">
  <thead>
    <tr>
      <th>Colors</th>
    </tr>
  </thead>

  <ul class="list-group">
    <li
      routerLink="/colors"
      [class]="getAllColorClass()"
    >
      All Colors
    </li>
    <li
      (click)="setCurrentColor(color)"
      routerLink="/cars/colors/{{ color.colorId}}"
      *ngFor="let color of colors"
      [class]="getCurrentColorClass(color)"
    >
      {{ color.colorName }}
    </li>
  </ul>
</table>

<h5 *ngIf="currentColor">{{ currentColor. colorId}} Seçtiniz</h5>

