 
<!-- <div *ngIf="dataLoaded == false" class="d-flex justify-content-center">
    <div class="spinner-grow text" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  <table *ngIf="dataLoaded != false" class="table">
    <thead>
      <tr>
        <th>Car Id</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Model Year</th>
        <th>Dialy Price</th>
        <th>Description</th>
      </tr>
    </thead>
  
    <tr *ngFor="let car of carDetails">
      <td>{{ car.carID }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{car.desciription}}</td>
    </tr>
  </table>  -->

  <table  class="table table-dark">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Aaraç</th>
        <th scope="col">Model Yılı </th>
        <th scope="col">Renk</th>
        <th scope="col">Günlük Ücret</th>
        <th scope="col">Günlük KDV li Ücret</th>
        <th scope="col">Açıklama</th>
        
      </tr>
    </thead>
    <tbody  *ngFor="let car of carDetails">
      <tr>
        <th></th>
        <th scope="row">{{car.brandName | uppercase}}</th>
        <th scope="row">{{car.modelYear}}</th>
        <th scope="row">{{car.colorName}}</th>
        <th scope="row">{{car.dailyPrice}}</th>
        <th scope="row">{{car.dailyPrice | vatAdded:10 |currency}}</th>
        <th scope="row">{{car.imagePath}}</th>
     
      </tr>
    </tbody>
  </table>
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="carousel-item active" *ngFor="let car of carDetails">
                 <img src="https://localhost:44337/{{car.imagePath}}" class="card-img-top"  width="100" height="330">
            </div>
          </div>
        </div>
        <div class="details col-md-6" *ngFor="let car of carDetails">
          <div class="card-header col-md-12">
            <div class="card-header">
              <h4 class="card-title"> Simple Table</h4>
            </div>
            <div class="form-group row">
              <label for="customerSelect" class="col-4 col-form-label sizes">Müşteriler:</label>
              <div class="col-7">
               
                  
                   
                  
                
              </div>
            </div>
            <div class="form-group row">
              <label for="rentDate" class="col-4 col-form-label sizes">Alış Tarihi </label>
              <div class="col-7 md-2">
                
              </div>
            </div>
            <div class="form-group row">
              <label for="returnDate" class="col-4 col-form-label sizes">Teslim Tarihi </label>
              <div class="col-7">
               
              </div>
            </div>
            
              <label for="rentDate" class="col-4 col-form-label sizes">Ödenecek Miktar:</label>
              <div class="col-7">
            
              </div>
            </div>
            
            <div>
              
              Kirala
            
           
            </div>
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Findex Puan Sorgula </button>
             <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Findex Puanınız Bu Aracı Kiralamak İçin Yeterli Değil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                    <button routerLink=""  type="button" class="btn-primary" data-bs-dismiss="modal">Kapat</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  